<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tareas</title>
</head>
<body>
    <h1>Tareas del Proyecto: {{ project.name }}</h1>
    
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de Vencimiento</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.get_status_display }}</td>
                    <td>
                        <!-- Enlace para cambiar el estado de la tarea -->
                        <form method="post" action="{% url 'change_task_status' project.id task.id %}">
                            {% csrf_token %}
                            <select name="status">
                                <option value="todo" {% if task.status == 'todo' %}selected{% endif %}>Pendiente</option>
                                <option value="in_progress" {% if task.status == 'in_progress' %}selected{% endif %}>En Progreso</option>
                                <option value="done" {% if task.status == 'done' %}selected{% endif %}>Completada</option>
                            </select>
                            <button type="submit">Cambiar Estado</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No hay tareas para mostrar.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'task_create' project.id %}">Agregar Nueva Tarea</a>
    <a href="{% url 'get_projects' %}">Volver a la Lista de Proyectos</a>
</body>
</html>